$beige: #FAF0CA;
$mainYellow: #F4D35E;
$darkOrange: #F95738;
$workshop1: #90ee90;
$workshop2: #ffffe0;
$workshop3: #20b2aa; 
$workshop4: #b0c4de; 
$workshop5:  #faebd7; 
$workshop6: #e6e6fa; 
$workshop7: #f08080; 
$workshop8: #add8e6; 
$deletebtn: #008000;
$stopbtn: #DC143C;
$mainBlue: #0D3B66;
$first_color: #08131D;
$second_color: #18344C;
$third_color: #B6CEDE;
$accent_color: #80ABC4;
$accent2: #4C7F9F;
$alert_1: red;